@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
	font-size: 100%;
	font-family: monospace, sans-serif;
	vertical-align: baseline;
}

h4 {
	font-size: 0.7em;
}

/* Wrapper */

.wrapper {

	color:rgb(255, 255, 255);

	padding: 4vw 4vw 4vw 4vw;
	max-width: 100vw;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	margin-left: auto;
	margin-right: 0;
}
	.wrapper.style1 {
		/*background-image: linear-gradient(to bottom right, #ffabab, #aff8d8); */
		background-image: url('../images/unsplash-mountains.jpeg'); 
		background-color: rgb(255, 255, 255); 
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}


/*Portrait Photo */
#portrait {
	width: 18em;
	height: auto;
	border-radius: 50%;
	vertical-align: middle;
}

.intro-grid-container {
	border-style: transparent;
	border-radius: 2em;
	background-color: rgba(153, 153, 153, 0.581);
}

.intro-photo, .intro-content-text, .links-grid-container {
	padding: 2em 2em 2em 2em;
}

.links-grid-child .img-fluid {
	height: auto;
	width: 4em;
	border-radius: 2%;
	display: flex;
	justify-content: center;
	filter: invert(100%) sepia(0%) saturate(7001%) hue-rotate(357deg) brightness(116%) contrast(102%);
}
	.links-grid-child .img-fluid:hover {
		opacity: 0.7;
	}


/* --- Anything smaller than 768px (phones / tablets) */
@media only screen and (max-width: 867px) {

	.intro-grid-container {
		display: grid;
		grid-template-rows: 1fr 1fr;
		gap: 2vh;
		justify-items: center;
		align-items: center;
	}

	/* Links grid */
	.links-grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: auto;
		align-items: center;
	}

	.links-grid-child {
		width: auto;
		padding-left: 5vw;
		padding-right: 5vw;
	}

}

/*Laptop sized screens and greater -- */

@media only screen and (min-width: 868px) {

	/* Main Page */
	.intro-grid-container {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 2vw;
		align-items: center;
	}
	.intro-photo {
		justify-content: center;
		display: flex;
	}

	.intro-content {
		display: grid;
		grid-template-rows: 3fr 2fr;
		gap: 4vh;
		justify-items: left;
	}

	/*Links Page */
	.links-grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: auto;
		align-items: center;
	}

	.links-grid-child {
		width: auto;
		padding-right: 8vw;
	}

}