@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
	font-size: 100%;
	font-family: 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
	vertical-align: baseline;
}


/* Wrapper */

.wrapper {

	color:rgb(66, 66, 66);

	padding: 4vw 4vw 4vw 4vw;
	max-width: 100vw;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	margin-left: auto;
	margin-right: 0;

}
	.wrapper.style1 {
		/*background-image: linear-gradient(to bottom right, #ffabab, #aff8d8); */
		background-image: url('../images/switzerland-translucent.png');
		background-color: rgb(255, 255, 255); 
		
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}


/*Portrait Photo */
#portrait {
	width: 20em;
	height: auto;
	border-radius: 50%;
}

.page-content {
	border-style: transparent;
	border-radius: 2em;
	background-color: rgba(255, 255, 255);
	box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.05);

}

.content-left, .content-right-text, .links-container {
	padding: 2em 2em 2em 2em;
}

.link-child .img-fluid {
	height: auto;
	width: 4em;
	display: flex;
	justify-content: center;
	filter: invert(21%) sepia(0%) saturate(4859%) hue-rotate(77deg) brightness(92%) contrast(79%);
}
	.link-child .img-fluid:hover {
		opacity: 0.7;
	}


/* --- Anything smaller than 867px (phones / tablets) */
@media only screen and (max-width: 867px) {

	.page-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-between;
		padding-left: 1%;
		padding-right: 1%;
	}

	.content-left {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content-right {
		display: flex;
		justify-items: left;
		flex-direction: column;
	}

	/* Links grid */
	.links-container {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.link-child {
		width: auto;
		padding-left: 5vw;
		padding-right: 5vw;
	}

}

/*Laptop sized screens and greater -- */

@media only screen and (min-width: 868px) {

	/* Main Page */
	.page-content {
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-left: 5%;
		margin-right: 5%;
		padding-left: 2%;
		padding-right: 2%;
	}
	.content-left {
		justify-content: center;
		align-items: center;
		display: flex;
		width: auto;
	}

	.content-right {
		display: flex;
		flex-direction: column;
		width: 60%;
		justify-items: left;
	}

	/*Links */
	.links-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.link-child {
		width: auto;
		padding-right: 8vw;
	}

}