@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
	font-size: 100%;
	font-family:'Courier New', Courier, monospace;
	vertical-align: baseline;
}

/* Navbar */
#mynav {
	background-color: rgba(52, 52, 52, 0.9);
}
.navbar {
	box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.075);
}

.nav-link > .active > a {
	color:rgb(255, 255, 255);
}
/* Wrapper */

.wrapper {

	color:rgb(255, 255, 255);

	padding: 5em 5em 5em 5em;
	max-width: 100vw;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;

	margin-left: auto;
	margin-right: 0;
}
	.wrapper.style1 {
		background-image: url('../images/unsplash-mountains.jpeg'); 
		background-color: rgb(255, 255, 255); 
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.wrapper.style2 {
		background-image: url('../images/unsplash-vortex.jpeg'); 
		background-color: rgb(255, 255, 255); 
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.wrapper.style3 {
		background-image: url('../images/unsplash-dark.jpeg');
		background-color: rgb(255, 255, 255); 
	
		height: auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: relative;
	}


/*Portrait Photo */
#portrait {
	width: 18em;
	height: auto;
	border-radius: 50%;
}



.links-grid-child .img-fluid {
	height: auto;
	width: 15em;
	border-radius: 2%;
	display: flex;
	justify-content: center;
	filter: invert(100%) sepia(0%) saturate(7001%) hue-rotate(357deg) brightness(116%) contrast(102%);
}
	.links-grid-child .img-fluid:hover {
		opacity: 0.7;
	}

@media only screen and (max-width: 420px) {
	#navigationbar {
		display: none;
	}

	/* Main Page */
	.intro-grid-container {
		display: grid;
		grid-template-rows: 1fr 1fr;
		gap: 4vh;
		justify-items: center;
	}
}


/* --- Anything smaller than 768px (phones / tablets) */
@media only screen and (max-width: 768px) {

	/* Main Page */

	.intro-grid-container {
		display: grid;
		grid-template-rows: 1fr 1fr;
		gap: 4vh;
		justify-items: center;
	}

	/* Links Page */
	.links-grid-container {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 4vh;
		justify-items: center;
	}

	.links-grid-child {
		height: auto;
		padding-top: 4vh;
		padding-bottom: 4vh;
	}

}

/*Laptop sized screens and greater -- */

@media only screen and (min-width: 769px) {

	/* Main Page */
	.intro-grid-container {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 2vw;
		align-items: center;
	}
	.intro-photo {
		justify-content: center;
		display: flex;
	}

	/*Links Page */
	.links-grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: auto;
		align-items: center;
	}

	.links-grid-child {
		width: auto;
		padding-left: 5vw;
		padding-right: 5vw;
	}

}